@import "~bootstrap/scss/bootstrap";

body {
    background-color: white;
}

header {
    background-color: black !important;
}

.navbar ul li a {
    color: white !important;
}

.navbar-toggler-icon {
    background-color: white !important;
}

.logo {
    height: 100px !important;
    width: 100px !important;
}

span {
    font-weight: bold;
}